.team__title {
    position: absolute;
    top: 124px;
    left: 475px;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.1;
    margin: 0 0 20px 0;
}

@media screen and (max-width: 768px) {
    .team__title {
        position: relative;
        top: 0;
        left: 0;
        font-size: 30px;
        margin: 0 0 30px 0;
    }
}

@media screen and (max-width: 576px) {
    .team__title {
        font-size: 24px;
        margin: 0 0 20px 0;
    }
}

@media screen and (max-width: 320px) {
    .team__title {
        font-size: 20px;
    }
}