.header__menu {
    flex-basis: 410px;
}

@media screen and (max-width: 768px) {
    .header__menu {
        flex-basis: 361px;
    }
}

@media screen and (max-width: 576px) {
    .header__menu {
        align-self: flex-start;
        flex-basis: 0;
        padding: 16px 0;
    }
}

@media screen and (max-width: 320px) {
    .header__menu {
        position: absolute;
        top: 64px;
        left: -15px;
        right: 0;
        width: 305px;
        background: var(--light-green);
        padding-left: 15px;
        overflow: hidden;
        z-index: 10;
    }
}