.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 576px) {
    .header__inner {
        position: relative;
        flex-direction: column;
    }
}