@media screen and (max-width: 768px) {
    .footer__social {
        position: absolute;
        top: 78px;
        right: 58px;
    }
}

@media screen and (max-width: 576px) {
    .footer__social {
        position: relative;
        top: 0;
        left: 0;
        display: grid;
        align-self: center;
        padding: 16px 0 0;
    }
}

@media screen and (max-width: 320px) {
    .footer__social {
        top: 190px;
        padding: 0;
    }
}