.reproductions__tabs {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    gap: 30px;
}

@media screen and (max-width: 576px) {
    .reproductions__tabs {
        top: 44px;
        left: 0;
    }
}

@media screen and (max-width: 320px) {
    .reproductions__tabs {
        gap: 20px;
    }
}