.footer__phone-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.17;
    color: var(--grey);
    margin: 0;
}

@media screen and (max-width: 576px) {
    .footer__phone-text {
        font-size: 16px;
    }
}