.reproductions__cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(210px, 1fr));
    gap: 30px;
}

@media screen and (max-width: 768px) {
    .reproductions__cards {
        grid-template-columns: repeat(2, minmax(330px, 1fr));
    }
}

@media screen and (max-width: 576px) {
    .reproductions__cards {
        grid-template-columns: repeat(2, minmax(240px, 1fr));
    }
}

@media screen and (max-width: 320px) {
    .reproductions__cards {
        grid-template-columns: repeat(1, 1fr);
    }
}