.footer__column-heading {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--black);
}

.footer__column-heading:hover {
    color: var(--green);
}

@media screen and (max-width: 768px) {
    .footer__column-heading {
        font-size: 18px;
    }
}

@media screen and (max-width: 320px) {
    .footer__column-heading {
        font-size: 16px;
    }
}