.hero__button {
    position: absolute;
    top: 411px;
    right: 315px;
    width: 225px;
}

@media screen and (max-width: 768px) {
    .hero__button {
        top: 283px;
        right: 135px;
    }
}

@media screen and (max-width: 576px) {
    .hero__button {
        top: 239px;
        right: 140px;
        width: 175px;
    }
}

@media screen and (max-width: 320px) {
    .hero__button {
        bottom: 0;
        left: 0;
        width: 100%;
    }
}