.hero__button {
    position: absolute;
    top: 411px;
    right: 315px;
    width: 225px;
}

@media screen and (max-width: 768px) {
    .hero__button {
        top: 283px;
        right: 135px;
    }
}