.promo__text {
    width: 610px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--white);
    margin: 0 0 20px 0;
}

.promo__text:last-of-type {
    margin: 0 0 60px 0;
}

@media screen and (max-width: 768px) {
    .promo__text {
        width: 100%;
    }
    .promo__text:last-of-type {
        margin: 0 0 30px 0;
    }
}

@media screen and (max-width: 576px) {
    .promo__text {
        font-size: 16px;
    }
}

@media screen and (max-width: 320px) {
    .promo__text {
        font-size: 14px;
    }
}